# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log

# Dependency directories
node_modules/

# Placeholder files
music-placeholder.txt

# Actual music file (large binary file)
# Uncomment if you don't want to include the music in the repository
# music.mp3